*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing:border-box;}
:focus,a:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}



/*-------------------*/

/*------TABLE-------*/
.wrapper {
   display: flex;
   background-color: #e8e8e8;
}
.container{
   width: 250px;
   height: auto;
   background-color: #4c78f0;
   padding: 0px 0px 0px 0px; 
   height: 100vh;
}
.table {}

.table-wrap {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.rows{
   height: 45px;
   color: #fff;
   font-weight: 600;
   font-size: 16px;
   font-family: 'Open Sans', sans-serif;
   padding: 12px 0px 0px 0px;
}

.table-rows1{
   border: 1px solid #002142;  
}
.table-rows1 a{
   color:#fff;
}
.table-rows2{
   border: 1px solid #002142;
}
.table-rows2 a{
   color:#fff;
}
.table-rows3{
   border: 1px solid #002142;
   background-color: #004891;
   cursor: pointer;
}
.table-rows3 a{
   color:#fff;
}
.table-rows4{
   border: 1px solid #002142;
}
.table-rows5{
   border: 1px solid #002142;
}
.table-rows6{
   border: 1px solid #002142;
}

/*-----  contain-------*/
.contain{
   display: flex;
   flex-direction: column;
   width: 100vw;
   margin:0px 0px 0px 150px;
}
/*------HEADER-------*/
.header {
   margin:0px 0px 40px 0px;
}
.header-wrap {
   display: flex; 
   justify-content: space-between;
}
.header-menu {
   margin:50px 0px 0px 80px;
   font-family: 'Open Sans', sans-serif;
   font-size: 25px;
   font-weight: 500;
}
.header-icon {
   display: flex;
   
}
.icon-image {
   display: inline-block;
   padding: 2px;
   border: 1px solid black;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   margin:10px 100px 0px 0px;
}
.icon-text{
   margin:17px 0px 0px 0px;
   padding: 0px 50px 0px 0px;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
}  